apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- https://raw.githubusercontent.com/argoproj/argo-cd/v2.3.4/manifests/install.yaml
- platform-appset.yaml
# - platform-apps-appset.yaml


patchesStrategicMerge:
  - |
    apiVersion: v1
    kind: Service
    metadata:
      name: argocd-server
    spec:
      type: LoadBalancer
